@model BookingInfoViewModel

@{
    ViewData["Title"] = "Booking Details";
}

<h2>Booking Confirmation</h2>

<!-- Button Container -->
<div class="d-flex justify-content-between mb-3">
    <!-- Back Button -->
    <a href="@Url.Action("selectday", "booking")" class="btn btn-dark">
        <i class="bi bi-arrow-left"></i> Back
    </a>

    <!-- Book Another Slot Button -->
    <a href="@Url.Action("SelectDay", "Booking")" class="btn btn-primary">
        Book Another Slot
    </a>
</div>

<!-- Booking Details Card -->
<div class="card">
    <div class="card-body d-flex align-items-center">
        <!-- Icon Container -->
        <div class="d-flex align-items-center justify-content-center me-3" style="flex: 0 0 auto; height: 100%;">
            <img src="~/images/checked.png" alt="Clock Icon" class="img-fluid" style="max-height: 40px; max-width: 40px; height: auto; width: auto;">
        </div>
        <!-- Booking Details -->
        <div class="flex-grow-1">
           
            <p class="card-text"><strong>Booked By:</strong> @Model.BookedBy</p>
            <p class="card-text"><strong>Phone:</strong> @Model.PhoneNumber</p>
            <p class="card-text"><strong>Washing Machine:</strong> @Model.MachineName</p>
            <p class="card-text"><strong>Date:</strong> @Model.dateTime.ToString("dddd, dd-MMMM-yyyy")</p>
            <p class="card-text"><strong>Time Slot:</strong> @Model.TimeSlot</p>
        </div>
    </div>
</div>
